.sr-only {
    display: none;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.body {
    margin: 0;
    height: 100%;
    font-family: "Kumbh Sans", sans-serif;
    background-color: hsl(210, 46%, 95%);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main {
    margin: 3em;
} */

.display-none {
    display: none !important;
}

/* MOBILE */

.container {
    max-width: 21.5625rem;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;

    border-radius: 0.5rem;
    overflow: hidden;
}

.main-image {
    width: 100%;
}

.text-container {
    font-size: 13px;
    padding: 2em;
    line-height: 150%;
}

.text-container__title {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.text-container__text {
    color: hsl(214, 17%, 51%);
    font-weight: 400;
}

.avatar-container__profile-info {
    font-size: 13px;
}

.share-container {
    padding: 0em 2em 0.5em 2em;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-container__second-container {
    display: flex;
    align-items: center;
}

.avatar-container__avatar-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-image {
    width: 100%;
}

.avatar-container__profile-info {
    padding-left: 1em;
}

.forward-image-container {
    display: flex;
    justify-content: flex-end;
    margin-inline: left;
}

.avatar-container__forward-image {
    width: 1.2rem;
    height: 1.2rem;
    background-color: hsl(210, 46%, 95%);
    padding: 0.4em;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-container__forward-image:hover {
    cursor: pointer;
}

.forward-image {
    width: 100%;
}

.active-container {
    position: absolute;
    background-color: hsl(217, 19%, 35%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0em 2em 0.5em 2em;
    width: 17.5625rem; /*21.5625rem*/
    height: 4.3rem;
    transform: translateX(-2rem) translateY(-4.361rem);

    border-radius: 0 0 0.5rem 0.5rem;
}

.active-container__links-container {
    display: flex;
    gap: 1em;
}

.links-container__text {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.3rem;
    color: hsl(212, 23%, 69%);
}

.desktop-active-container {
    display: none;
}

/* DESKTOP */

@media (min-width: 900px) {
    .main {
        /* max-width: 70rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }

    .container {
        max-width: 40rem;
        max-height: 20rem;
        margin: 0;
        flex-direction: row;

        gap: 2em;
    }

    .image-container {
        overflow: hidden;
    }
    .main-image {
        width: 123%;
        height: 100%;
    }

    .text-container {
        padding: 1em 1em 0 0;
    }

    .share-container {
        padding: 0 1em 0 0;
    }

    .active-container {
        display: none;
    }
    .desktop-active-container {
        position: absolute;
        background-color: hsl(217, 19%, 35%);
        /* background-clip: ; */
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;

        padding: 0.5em 2em 0.5em 2em;
        height: 2rem;
        transform: translateX(13.5rem) translateY(-7rem);

        border-radius: 0.5rem;
    }

    .links-container__text {
        height: 100%;
        vertical-align: middle;
    }

    .avatar-container__forward-image-desktop {
        width: 1.2rem;
        height: 1.2rem;
        background-color: hsl(217, 19%, 35%);
        padding: 0.4em;
        border-radius: 50%;
        overflow: hidden;
    }

    .forward-image-mobile-disabled {
        display: block;
        color: hsl(214, 17%, 51%);
        font-size: 1.1rem;
        margin-inline: auto;
    }
}
