.sr-only {
    display: none;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.body {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.main {
    /* margin: 3em; */
}

/* MOBILE */

.container {
    margin: 3em;
    display: flex;
    flex-direction: column;
    background-color: white;

    border-radius: 0.5rem;
    overflow: hidden;
}

.text-container {
    font-size: 13px;
    padding: 2em;
    line-height: 150%;
}

.text-container__title {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.text-container__text {
    color: hsl(214, 17%, 51%);
    font-weight: 400;
}

.avatar-container__profile-info {
    font-size: 13px;
}

.share-container {
    padding: 0em 2em 0.5em 2em;
}

.avatar-container {
    display: flex;
    align-items: center;
}

.avatar-container__avatar-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
}

.avatar-image {
    width: 100%;
}

.avatar-container__profile-info {
    padding-left: 1em;
}

.forward-image {
    width: 2.5rem;
    height: 2.5rem;
}

/* DESKTOP */

@media (min-width: 900px) {
    .main {
        max-width: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
}
